<h1>Food</h1>
<form action="{% url 'search_results' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
  </form>

<form action="{% url 'filter_results' %}" method="get">
    <input name="q" type="text" placeholder="Filter...">
  </form>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Country</th>
        <th>Ingredients</th>
    </tr>
{% for x in myfood %}
<tr>
<td>{{ x.id }}</td>
<td>{{ x.product_name }}</td>
<td>{{ x.countries_en }}</td>
<td>{{ x.ingredients_text }}</td>
</tr>
{% endfor %}
</table>